# Path: Qubic_Quests_Hackathon/backend/requirements.txt

numpy==1.26.4
scipy==1.11.4

# Path: Qubic_Quests_Hackathon/backend/requirements.txt

Flask
Flask-Cors
numpy
gunicorn
Flask-SSE
gevent

# Pin all Qiskit packages to exact, stable versions for Python 3.11
qiskit==1.1.0
qiskit_algorithms==0.3.0
qiskit-nature[pyscf]==0.7.2
qiskit_ibm_provider==0.11.0  # Corrected version based on Render's feedback
qiskit-aer==0.14.1